/* FONT */
@font-face {
  font-family: "LiberationSans-Regular";
  src: local("fonts/LiberationSans-Regular-webfont.ttf");
}

* {
  font-family: "LiberationSans-Regular";
}

/* NAVBAR */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/* FOOTER */
.footer {
  background-color: #2f2f2f;
}

.sectionBlanche {
  position: relative;
}

#banner {
  position: absolute;
  min-width: 400px;
  left: 50%;
  transform: translate(-50%, -120%);
  background-color: #ffffff;
  color: #2f2f2f;
  border-radius: 10px;
  padding: 8px;
}

/* IMAGE SOLDE */
.imageBoxe {
  position: relative;
}

.imageBoxe > p {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 3%;
  transform: translateX(-20%);
  color: #2f2f2f;
  font-size: 20px;
  font-weight: bold;
}

.solde {
  background-color: #1b2126;
  padding: 3px 10px 3px 10px;
  border-radius: 10px;
}

/* Background blanc */
.bgImage {
  background-color: rgb(244, 244, 244);
}

/* Titre Gants de Boxe */
.titreGants {
  position: absolute;
  transform: translate(30%, -130%);
}

/* Version Mobile */
/* MOBILE */
@media (max-width: 768px) {
  .image-mobile img {
    width: 280px;
    height: auto;
    transform: translate(-15px, -20px);
  }

  .imageHeader {
    padding: 0;
  }

  .image-mobile p {
    position: absolute;
    top: 7%;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    transform: translate(20px, -20px);
  }

  #banner {
    min-width: 100%;
  }

  .titreGants {
    position: absolute;
    transform: translate(-4%, -196%);
  }


}
